body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  color: white;
}

img {
  display:block;
  margin: auto;
}

#header {
  background-image: url("../images/the-flatiron-building.png");
}

#process h1 {
  font-size: 32px;
  font-weight: bold;
}

#process h3 {
  font-size: 23px;
  font-weight: bold;
}

#process p {
  font-size: 14px;
}
